* {
    /* background-color:#f5f5f5; */
    --primary-font-family: "Fraunces", serif;
    --secondary-font-family: 'sansation', sans-serif;
}

:root {
    font-size: 16px;
}

body {
    font-family: var(--primary-font-family);
    border: 2px solid #0000003f;
    margin: 0px;
    padding: 0px;
}
#navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

/* .navElements {
    border: 2px dashed #0000003f;
    background-color: #fc4747;
} */

.specialLinks {
    font-family: var(--secondary-font-family);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#navigationBar a ,
#navigationBar a:visited,
#navigationBar a:hover,
#navigationBar a:active {
    color: black;
    text-decoration: none;
    cursor: crosshair;
}

#titleLogo {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transform: translateY(-4px); /* Put this to compensate for the extra gap in the logo image so the text can look visually aligned */
}

#logoLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#bookMeButton {
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    background-color: #f7dfff;
}

#heroSectionParent {
    position: relative;
    border: 3px dashed red;
    display: flex;
    min-height: 30rem;
    height: 30rem;
    align-items: flex-end;
    overflow:hidden;
    
    
}

#heroSectionImage {
    position: relative;
    z-index: 1;
    min-width: 40%;
    transform: scaleX(-1);
    object-fit: cover;
    object-position: top;
    margin-right: 1.5rem;
    height: 100%;
    overflow: hidden;
    filter: saturate(150%);
    filter:contrast(120%);
     
}

#heroSectionText {
    position: relative;
    z-index: 1;
    font-size: 5.5rem;
    font-weight: 400;
    margin: 1.5rem 3rem 0rem 1rem;
    padding: 0rem 2.5rem 1.5rem;
    line-height: 5.2rem;
    letter-spacing: -0.1rem;
}

#heroBackground {
    position: absolute;
    bottom: 0rem;
    height: 85%;
    width: 100%;
    z-index: 0;
    /* background-color: #ff00c8; */
    background-image: linear-gradient(to bottom, #ff9764, #fce4be);
    border-radius: 16px 16px 0px 0px;
    
}

#heroBackgroundOverlay {
    position:static;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    mix-blend-mode: overlay;
    border-radius: 16px 16px 0px 0px;
    overflow:hidden;
    background-clip: padding-box;
    opacity: 80%;
};

.hero {
    border: 2px solid blue;
    position: relative;
}

#boySectionParent {
    position: relative;
    border: 3px dashed red;
    display: flex;
    min-height: 45rem;
    height: 30rem;
}

#boySectionMainText {
    position: relative;
    font-size: 5rem;
    font-weight: 400;
    margin: 4.5rem 3rem 0rem 1rem;
    padding: 0rem 2.5rem 1.5rem;
    line-height: 5.2rem;
    letter-spacing: -0.1rem;
}

#boySectionSubText {
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    margin: 5rem 3rem 0rem 1rem;
    font-family: var(--primary-font-family);
    
}

#boySectionSubTextOne {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 3rem 0rem 1rem;
    padding: 0rem 2.5rem 1.5rem;
    
    
}

#boyBackground {
    position: absolute;
    bottom: 0rem;
    height: 85%;
    width: 100%;
    z-index: -1;
    /* background-color: #ff00c8; */
    background-image: linear-gradient(to bottom, #ff9764, #fce4be);
    border-radius: 16px 16px 0px 0px;
    
}